<h1><%= gettext "Edit Password" %></h1>

<%= render "form_password.html", Map.put(assigns, :action, Routes.edit_path(@conn, :update_password, @current_user)) %>

<span><%= link "←", to: Routes.edit_path(@conn, :index, @current_user) %></span>
